[Unit]
Description=Run gitpush.service every 4 hours

[Timer]
OnBootSec=10min
OnUnitActiveSec=4h
Unit=gitpush.service

[Install]
WantedBy=timers.target
